@model EntityExtracterTool.Web.Models.EntityHolder

@{
    ViewBag.Title = "ShowEntityInformation";
}

<h2>Entity Information</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Added Entities</h3>
        <table class="table table-bordered">
            <tr>
                <th>Entity Value</th>
                <th>Entity Description</th>
                <th>Entity Last Modified</th>
            </tr>
            @foreach (var entity in Model.AddedEntities)
            {
                <tr>
                    <td>
                        @entity.Value
                    </td>
                    <td>
                        @entity.Description
                    </td>
                    <td>
                        @entity.LastModified
                    </td>
                </tr>
            }
        </table>
    </div>

    @*<div class="col-md-4">
        <h3>Updated Entities</h3>
        <table class="table table-bordered">
            <tr>
                <th>Entity Name</th>
                <th>Entity Value</th>
            </tr>
            @foreach (var entity in Model.UpdatedEntities)
            {
                <tr>
                    <td>
                        @entity.Name
                    </td>
                    <td>
                        @entity.Value
                    </td>
                </tr>
            }
        </table>
    </div>*@

    @*<div class="col-md-4">
        <h3>Removed Entities</h3>
        <table class="table table-bordered">
            <tr>
                <th>Entity Name</th>
                <th>Entity Value</th>
                <th>Entity Description</th>
                <th>Entity Last Modified</th>
            </tr>
            @foreach (var entity in Model.RemovedEntities.Take(10))
            {
                <tr>
                    <td>
                        @entity.Key
                    </td>
                    <td>
                        @entity.Value
                    </td>
                    <td>
                        @entity.Description
                    </td>
                    <td>
                        @entity.LastModified
                    </td>
                </tr>
            }
        </table>
    </div>*@
</div>
